<div class="question">
    <h1>Demande à Queti</h1>
    <a routerLink="question1"><img src="assets/demande_a_queti.png" alt="logo"></a>
</div>
<div class="buttons">
    <div>
        <a class="accueil_button" routerLink="favoris"><img class="img_accueil" src="assets/bouton_coeur.png" alt="favoris"></a>
        <h2>favoris</h2>
    </div>
    <div>
        <a class="accueil_button" routerLink="ordre"><img class="img_accueil" src="assets/bouton_carnet.png" alt="logo"></a>
        <h2>Catalogue</h2>
    </div>
</div>




