.question{
    margin-top: 20vh;
    text-align: center;
}

.question img{
    width: 60%
}


.buttons{
    margin-top: 18vh;
    display: flex;
    justify-content: space-around;
}

.accueil_button{
    text-align: center;
}

h1{
    font-size: 40px;
    color: #B6AD74;
    text-align: center;
}

h2{
    text-align: center;
    color: #B6AD74;
    font-size: 30px;
}

.img_accueil{
    width: 90px;
}