
<div class="question">
    <img src="assets/queti_question.png" alt="logo">
    <h1>Les pattes avants sont-elles remarquables ?</h1>
    <div class="buttons">
        <button (click)="router.navigate(['/resultat'], { queryParams: { resultId: 17 } })">Les pattes avant se replient comme une lame de canif et possèdent des crochets à l'intérieur.</button>
        <button (click)="router.navigate(['/etape17'])">Non, les pattes avant ne sont pas remarquables.</button>           
    </div>
</div>



