<div class="insect-image-container">
  <!-- Bouton Favori en haut à droite -->
  @if (authService.isAuthenticated()) {
      <button (click)="toggleLike(insecte.id)" class="fav-button">
          <img
            class="userFav"
            [src]="likedInsects.has(insecte.id) ? 'assets/bouton_coeur.png' : 'assets/bouton_coeur_vide.png'"
            [alt]="likedInsects.has(insecte.id) ? 'Unfavorite' : 'Favorite'"
          />
      </button>
  }

  <!-- Image de l'insecte -->
  <img class="insectPic" src="{{insecte.photo}}" alt="{{insecte.nom_fr}}">

  <!-- Nom de l'insecte -->
  <div class="insect-name-overlay">{{insecte.nom_fr}}</div>
</div>
