<div class="question">
    <img src="assets/queti_question.png" alt="logo">
    <h1>Quelle est l'apparence de ses ailes ?</h1>
    <div class="buttons">
        <button (click)="router.navigate(['/resultat'], { queryParams: { resultId: 21 } })">L'insecte a une forme caractéristique de poire et mesure rarement plus de 3 mm.</button>
        <button (click)="router.navigate(['/resultat'], { queryParams: { resultId: 18 } })">L'insecte a un fort resserrement entre le thorax et l’abdomen et mesure plus de 3mm.</button>
    </div>
</div>
