
<div class="question">
    <img src="assets/queti_question.png" alt="logo">
    <h1>A quoi ressemblent les ailes antérieures de l'insecte ?</h1>
    <div class="buttons">
        <button (click)="router.navigate(['/resultat'], { queryParams: { resultId: 7 } })">Les ailes antérieures sont entièrement durcies et se rejoignent en ligne droite au milieu du dos.</button>
        <button (click)="router.navigate(['/etape21'])">Les ailes antérieures ne sont pas entièrement durcies.</button>        
    </div>
</div>
