#insecteContainer {
    display: flex;
    flex-wrap: wrap; 
    gap: 20px; 
    justify-content: center; 
    padding: 20px;
}


.insect-card {
    flex: 1 1 calc(50% - 20px);
    max-width: calc(50% - 20px); 
    box-sizing: border-box;
}

.back-button {
    color: black; 
    text-decoration: underline; 
    font-size: 16px; 
    font-weight: normal; 
    border: none; 
    background: none;
    cursor: pointer;
    margin-left: 10px;
}
